# Python
__pycache__/
*.pyc

# Environment
.env
venv/

# SQL files and backups
*.sql
/data/backup
/data

# SQLite database
*.sqlite
*.sqlite3

# VS Code settings (optional)
.vscode/

# Config files
.conf